[project]
	description = PIK projekt
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mkinal (mkinal)
[access "refs/for/refs/*"]
	read = group user/mkinal (mkinal)
	push = group user/mkinal (mkinal)
	label-Code-Review = -2..+2 group user/mkinal (mkinal)
	label-Verified = -1..+1 group user/mkinal (mkinal)
	rebase = group user/mkinal (mkinal)
	removeReviewer = group user/mkinal (mkinal)
	submit = group user/mkinal (mkinal)
[access "refs/heads/*"]
	read = group user/mkinal (mkinal)
	create = group user/mkinal (mkinal)
	push = +force group user/mkinal (mkinal)
	pushMerge = group user/mkinal (mkinal)
[access "refs/tags/*"]
	push = +force group user/mkinal (mkinal)
	pushTag = group user/mkinal (mkinal)
	pushSignedTag = group user/mkinal (mkinal)
[receive]
	createNewChangeForAllNotInTarget = true
	requireChangeId = false
[submit]
	action = merge always
