[project]
	description = PIK projekt
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mkinal
[access "refs/for/refs/*"]
	read = group user/mkinal
	push = group user/mkinal
	label-Code-Review = -2..+2 group user/mkinal
	label-Verified = -1..+1 group user/mkinal
	rebase = group user/mkinal
	removeReviewer = group user/mkinal
	submit = group user/mkinal
[access "refs/heads/*"]
	read = group user/mkinal
	create = group user/mkinal
	push = +force group user/mkinal
	pushMerge = group user/mkinal
[access "refs/tags/*"]
	push = +force group user/mkinal
	pushTag = group user/mkinal
	pushSignedTag = group user/mkinal
